<!DOCTYPE html>
<html lang="en">
	<head>
		<script type="module">
			import '@brightspace-ui/core/components/typography/typography.js';
			import '../<%= hyphenatedName %>.js';
		</script>
		<title><%= tagName %> visual-diff tests</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta charset="UTF-8">
	</head>
	<body class="d2l-typography">
		<div>
			<<%= tagName %> id="default"></<%= tagName %>>
		</div>
	</body>
</html>
